---
---
<!DOCTYPE html>
<html>
{% include {{site.data.common.header}}%} 
<body>
<div class="shell">
    {% include {{site.data.common.title}}%} 

    <div id="no-downloads">
        <span class="inner">
        </span>
    </div>

    <div class="row">
        <div class="large-9 columns" role="content">
            <h3>
                <a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Welcome to GitHub Pages.</h3>

            <ul>
                {% for post in site.posts %}
                <li>
                <a href="{{ post.url }}">{{ post.title }}  ({{ post.category }})</a>
                </li>
                <hr/>
                {% endfor %}
            </ul>
            {% include {{site.data.common.footer}}%}
        </div>
        {% include {{site.data.common.categories}}%}

    </div>
</div>
</body>
</html>
